<%- include("partials/header.ejs") %>

<!--This is the space for main body.-->

<div class="container">
    <div class="row mt-3 pt-3">
    <div class="col-sm-3 nav-link">
        <ul>
            <% if (locals.blogs) { %>
                <% Object.keys(blogs).forEach(blog => { %>
                    <li><a href="/blog/<%= blog %>"><%= blog %></a></li>
                <% }); %>
            <% } else { %>
                <li>No blog Found in blogs dictionary</li>
            <% } %>

        </ul>
    </div>
    <div class="col-sm-9">
        <div>
            <% if (locals.key) {%>
                <div>
                    <h1><%= key %></h1>
                </div>
                <div >    
                    <div class="col-sm-4"><h2>Author: </h2></div><div class="col-sm-4"><%= blogs[key]["author"] %></div>
                </div>
                <div><h3>Date: </h3></div><div><%= blogs[key]["date"] %></div>
                <div><p><%= blogs[key]["blogBody"] %></p></div> 
            <% } else { %>
                <div><h1>No Blog post found.</h1></div>
            <% } %>
            </div>
            <% if (blogs[key]["author"] === name) { %>
                <div class="">
                    <form action="/blog/<%= key %>" method="post">
                        <button type = "submit" name = "action" value = "edit" class="btn btn-lg m-2 btn-secondary">Edit</button>
                        <button type = "submit" name = "action" value = "delete" class="btn btn-danger btn-lg m-2">Delete</button>
                    </form>
                </div>
            <% } %>
            

        </div>
    </div>
</div>

<!-- This should be at the end of the page as it is for the footer.-->
 <%- include("partials/footer.ejs") %>